.list-messages {
	display: block;
	text-align: left;
	margin-left: 0;
	padding-left: 0;
	overflow-y: auto;

	li {
		display: flex;
		flex-direction: row;
		width: 100%;
		list-style-type: none;
		box-sizing: border-box;
		gap: 10px;
		background-color: var(--color-primary);
		border-radius: 5px;
		padding: 10px 5px 10px 5px;
		margin: 4px 0 4px 0;
		transition: background-color 0.3s;
		cursor: pointer;
		
		.date {
			text-align: right;
			font-size: 13px;
			color: var(--color-inverse);
		}

		.message {
			flex: 1;
			font-size: 16px;
			white-space: pre-line;
			transition: color 0.3s;
			color: var(--color-inverse);
		}

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-active);
				
				.message {
					color: var(--color-text);
				}
			}
		}
	}
}

.paginate {
	display: block;
	text-align: left;
	margin-left: 0;
	padding-left: 0;

	li {
		display: inline-block;
		list-style-type: none;
		background-color: #CCCCCC;
		padding: 4px;
		border-radius: 5px;
		color: #FFFFFF;

		&.active {
			background-color: unset;
			border: 1px solid #CCCCCC;
			color: #000000;
		}
	}
}