:root {
	--color-primary: #cbcbcb;
	--color-secondary: #cccccc;
	--color-accent: #faebd7;
	--color-active: #e4e4e4;
	--color-inverse: #ffffff;
	--color-text: #4d4545;
	--color-main: #434343;
	--color-block: #f2f2f2;
}