.form {
	position: sticky;
	bottom: 15px;
	display: flex;
	border-top: 1px solid var(--color-secondary);
	background-color: var(--color-block);
	flex-direction: column;
	align-items: center;

	textarea {
		display: block;
		border: 1px solid var(--color-secondary);
		box-sizing: border-box;
		border-radius: 4px;
		background-color: var(--color-active);
		color: var(--color-text);
		resize: none;
		padding: 10px;
		font-size: 16px;
		margin-top: 10px;
		width: 100%;
		min-height: 140px;

		&:focus {
			outline: none;
		}
	}

	.controll {
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin-top: 10px;
	}
}